Repository cwchanap/Vela: changes, and which Codecov flags are due for each by the changed paths.
All: web, api, ext

fix: preserve original created_at on TTS settings update using DynamoDB if_not_exists
  apps/vela-api/src/dynamodb.ts
Due: api

fix: log warning when TTS settings contain invalid provider value on GET /settings
  apps/vela-api/src/routes/tts.ts
Due: api

fix: add BatchWriteCommand to dynamodb.test.ts mock to prevent test suite isolation failure
  apps/vela-api/test/dynamodb.test.ts
Due: none

feat: enhance TTS with improved audio format handling and cache management
  apps/vela-api/src/routes/tts.ts
  apps/vela-api/src/tts/providers/gemini.ts
  apps/vela-api/src/tts/types.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela/src/pages/settings/SettingsPage.vue
  apps/vela/src/services/ttsService.test.ts
  apps/vela/src/services/ttsService.ts
Due: web, api

fix: add user ID to TTS settings query key for proper cache isolation
  apps/vela/src/composables/queries/useTTSQueries.ts
  packages/common/src/keys.ts
Due: web

fix: fetch TTS settings internally for proper cache key generation
  apps/vela/src/services/ttsService.test.ts
  apps/vela/src/services/ttsService.ts
Due: web

fix: improve TTS settings reactivity and null value handling
  apps/vela/src/composables/queries/useTTSQueries.ts
  apps/vela/src/pages/settings/SettingsPage.vue
Due: web

fix: improve TTS caching, fix Gemini API auth, and add more voice options
  apps/vela-api/src/routes/tts.ts
  apps/vela-api/src/tts/providers/gemini.ts
  apps/vela/src/composables/queries/useTTSQueries.ts
  apps/vela/src/pages/settings/SettingsPage.vue
  apps/vela/src/services/ttsService.ts
Due: web, api

fix: clear TTS audio URL cache on settings save and sign out
  apps/vela/src/services/ttsService.ts
  apps/vela/src/stores/auth.ts
Due: web

feat: add multi-provider support for TTS (ElevenLabs, OpenAI, Gemini)
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/tts.ts
  apps/vela-api/src/tts/factory.ts
  apps/vela-api/src/tts/providers/elevenlabs.ts
  apps/vela-api/src/tts/providers/gemini.ts
  apps/vela-api/src/tts/providers/openai.ts
  apps/vela-api/src/tts/types.ts
  apps/vela/src/pages/settings/SettingsPage.vue
  apps/vela/src/services/ttsService.test.ts
  apps/vela/src/services/ttsService.ts
Due: web, api

refactor: centralize TTS query keys and migrate to TanStack Query for TTS settings
  apps/vela/src/composables/queries/useTTSQueries.ts
  apps/vela/src/pages/settings/SettingsPage.vue
  packages/common/src/index.ts
Due: web

fix: correct saveTTSSettings test arguments after userId removal from signature
  apps/vela/src/services/ttsService.test.ts
Due: none

fix: improve TTS provider validation and adjust presigned URL expiry
  apps/vela-api/src/routes/tts.ts
  apps/vela/src/composables/queries/index.ts
  apps/vela/src/composables/queries/useTTSQueries.ts
  apps/vela/src/pages/settings/SettingsPage.vue
  apps/vela/src/services/ttsService.ts
  packages/common/src/keys.ts
Due: web, api

fix: return 503 on non-404 S3 cache errors; wrap S3 upload and presigning in try/catch
  apps/vela-api/src/routes/tts.ts
Due: api

fix: add required userId argument to getAudioUrl and generatePronunciation test calls
  apps/vela/src/services/ttsService.test.ts
Due: none

refactor: move frontend build to deploy job after env injection
  .github/workflows/deploy.yml
  apps/vela/.env.production
  apps/vela/.gitignore
  packages/cdk/scripts/inject-env.ts
Due: web

fix: verify .env.production exists before frontend build
  .github/workflows/deploy.yml
Due: none

chore: remove unused cleanup job from deploy workflow
  .github/workflows/deploy.yml
Due: none

fix: use working-directory action in deploy workflow for Lambda build
  .github/workflows/deploy.yml
Due: none

fix: correct CloudFormation output keys in env injection script
  packages/cdk/scripts/inject-env.ts
Due: none

chore: remove unused frontend environment outputs from StaticWebStack
  packages/cdk/lib/static-web-stack.ts
Due: none

refactor: implement Wa-Modern design system with Japanese aesthetics
  apps/vela/src/css/app.scss
  apps/vela/src/css/quasar.variables.scss
  apps/vela/src/layouts/MainLayout.vue
  apps/vela/src/pages/IndexPage.vue
  apps/vela/src/pages/games/GamesIndex.vue
Due: web

refactor: clean up font family declarations and add writing action button style
  apps/vela/src/css/app.scss
  apps/vela/src/pages/IndexPage.vue
Due: web

refactor: optimize font loading and improve accessibility
  apps/vela/index.html
  apps/vela/src/css/app.scss
  apps/vela/src/layouts/MainLayout.vue
  apps/vela/src/pages/IndexPage.vue
  apps/vela/src/pages/games/GamesIndex.vue
Due: web

chore: add .worktrees to .gitignore
  .gitignore
Due: none

feat: show Japanese with FuriKana in vocabulary and sentence games
  apps/vela/src/components/games/FuriKana.vue
  apps/vela/src/components/games/SentenceBuilder.vue
  apps/vela/src/components/games/VocabularyCard.test.ts
  apps/vela/src/components/games/VocabularyCard.vue
  apps/vela/src/pages/games/VocabularyGame.vue
  apps/vela/src/services/gameService.test.ts
  apps/vela/src/services/gameService.ts
  apps/vela/src/stores/games.ts
Due: web

test: expand unit test coverage for furikana game changes
  apps/vela/src/components/games/FuriKana.test.ts
  apps/vela/src/components/games/SentenceBuilder.test.ts
  apps/vela/src/components/games/VocabularyCard.test.ts
  apps/vela/src/services/gameService.test.ts
Due: none

fix: resolve exactOptionalPropertyTypes and japanese field name mismatch
  apps/vela/src/components/games/VocabularyCard.vue
  apps/vela/src/pages/games/VocabularyGame.vue
  apps/vela/src/services/gameService.ts
Due: web

Path conditions:
  web: any of: apps/vela/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/e2e/**
  api: any of: apps/vela-api/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/e2e/**
  ext: any of: apps/vela-ext/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/e2e/**
