Repository cwchanap/Vela: changes, and which Codecov flags are due for each by the changed paths.
All: web, api, ext

fix(tts): avoid caching audio URLs under mismatched TTS settings
  apps/vela-api/src/routes/tts.ts
  apps/vela-api/test/routes/tts.test.ts
  apps/vela/src/services/ttsService.test.ts
  apps/vela/src/services/ttsService.ts
  packages/common/src/contracts/tts.test.ts
  packages/common/src/contracts/tts.ts
Due: web, api

refactor(tts): share effective settings matching and harden error contracts
  apps/vela-api/src/routes/tts.ts
  apps/vela-api/test/routes/tts.test.ts
  apps/vela-mobile/src/audio/mobile-audio-contract.ts
  apps/vela-mobile/src/services/mobile-tts.test.ts
  apps/vela-mobile/src/services/mobile-tts.ts
  apps/vela/src/services/ttsService.ts
  packages/common/src/contracts/tts.ts
  packages/common/src/index.ts
Due: web, api

test(tts): guard against nested Error leaks in log serialization
  apps/vela-api/test/routes/tts.test.ts
Due: none

feat(mobile): add pronunciation diagnostic page
  apps/vela-mobile/src/pages/diagnostics/TtsPronunciationDiagnosticsPage.test.ts
  apps/vela-mobile/src/pages/diagnostics/TtsPronunciationDiagnosticsPage.vue
Due: none

docs: normalize HPA-208 review wording
  docs/superpowers/specs/2026-07-31-mobile-authenticated-tts-pronunciation-design.md
Due: none

docs: complete authenticated iOS TTS plan review
  docs/superpowers/plans/2026-07-31-mobile-authenticated-tts-pronunciation.md
Due: none

feat(tts): return effective settings, guard stale cache, and harden error logging
  apps/vela-api/src/routes/tts.ts
  apps/vela-api/test/routes/tts.test.ts
  apps/vela-mobile/src/audio/html-audio-player.test.ts
  apps/vela-mobile/src/audio/html-audio-player.ts
  apps/vela-mobile/src/services/mobile-tts.test.ts
  apps/vela-mobile/src/services/mobile-tts.ts
  packages/common/src/contracts/tts.test.ts
  packages/common/src/contracts/tts.ts
  packages/common/src/index.ts
Due: api

fix(mobile): isolate invalidated TTS work
  apps/vela-mobile/src/services/mobile-tts.test.ts
  apps/vela-mobile/src/services/mobile-tts.ts
Due: none

feat(mobile): add replayable JSON requests and safe API errors
  apps/vela-mobile/src/composables/useDueReviewCount.test.ts
  apps/vela-mobile/src/services/mobile-api-client.test.ts
  apps/vela-mobile/src/services/mobile-api-client.ts
  apps/vela-mobile/src/services/mobile-srs.test.ts
Due: none

docs: refine authenticated iOS TTS implementation plan
  docs/superpowers/plans/2026-07-31-mobile-authenticated-tts-pronunciation.md
Due: none

feat(mobile): authenticated iOS TTS pronunciation playback
  apps/vela-api/src/routes/tts.ts
  apps/vela-api/test/routes/tts.test.ts
  apps/vela-mobile/src/audio/html-audio-player.ts
  apps/vela-mobile/src/audio/mobile-audio-contract.ts
  apps/vela-mobile/src/composables/usePronunciationDiagnostic.test.ts
  apps/vela-mobile/src/composables/usePronunciationDiagnostic.ts
  apps/vela-mobile/src/pages/diagnostics/TtsPronunciationDiagnosticsPage.test.ts
  apps/vela-mobile/src/router/diagnostic-routes.ts
  apps/vela-mobile/src/services/mobile-api-client.ts
  apps/vela-mobile/src/services/mobile-tts.test.ts
  apps/vela-mobile/src/services/mobile-tts.ts
  apps/vela/src/services/ttsService.test.ts
  docs/superpowers/plans/2026-07-31-mobile-authenticated-tts-pronunciation.md
  docs/superpowers/specs/2026-07-31-mobile-authenticated-tts-pronunciation-design.md
  packages/common/src/contracts/tts.test.ts
  packages/common/src/contracts/tts.ts
Due: api

test(mobile): cover late audio play rejection
  apps/vela-mobile/src/audio/html-audio-player.test.ts
Due: none

fix(tts): harden cache, error logging, and audio resource safety
  apps/vela-api/src/routes/tts.ts
  apps/vela-api/test/routes/tts.test.ts
  apps/vela-mobile/src/audio/html-audio-player.test.ts
  apps/vela-mobile/src/audio/html-audio-player.ts
  apps/vela-mobile/src/services/mobile-tts.test.ts
  apps/vela-mobile/src/services/mobile-tts.ts
  apps/vela/src/services/ttsService.test.ts
  apps/vela/src/services/ttsService.ts
Due: web, api

feat(mobile): add pronunciation diagnostic controller
  apps/vela-mobile/src/composables/usePronunciationDiagnostic.test.ts
  apps/vela-mobile/src/composables/usePronunciationDiagnostic.ts
Due: none

fix(mobile): short-circuit aborted API requests
  apps/vela-mobile/src/services/mobile-api-client.test.ts
  apps/vela-mobile/src/services/mobile-api-client.ts
Due: none

feat(mobile): add replaceable HTML audio adapter
  apps/vela-mobile/src/audio/html-audio-player.test.ts
  apps/vela-mobile/src/audio/html-audio-player.ts
  apps/vela-mobile/src/audio/mobile-audio-contract.ts
Due: none

fix(mobile): bound TTS generation metadata
  apps/vela-mobile/src/services/mobile-tts.test.ts
  apps/vela-mobile/src/services/mobile-tts.ts
Due: none

feat(mobile): support bounded feature transport timeouts
  apps/vela-mobile/src/auth/mobile-auth-contract.ts
  apps/vela-mobile/src/services/mobile-auth.test.ts
  apps/vela-mobile/src/services/mobile-auth.ts
Due: none

feat(api): add stable TTS error codes
  apps/vela-api/src/routes/tts.ts
  apps/vela-api/test/routes/tts.test.ts
Due: api

test(mobile): track TTS diagnostic contract
  apps/vela-mobile/scripts/verify-production-diagnostics.test.mjs
Due: none

test(mobile): cover authenticated TTS diagnostic route
  apps/vela-mobile/src/router/routes.test.ts
Due: none

feat(mobile): expose shared app activity state
  apps/vela-mobile/src/boot/capacitor-lifecycle.test.ts
  apps/vela-mobile/src/boot/capacitor-lifecycle.ts
  apps/vela-mobile/src/services/mobile-lifecycle.test.ts
  apps/vela-mobile/src/services/mobile-lifecycle.ts
Due: none

docs: address TTS timeout and retry review
  docs/superpowers/specs/2026-07-31-mobile-authenticated-tts-pronunciation-design.md
Due: none

docs: design authenticated iOS TTS pronunciation validation
  docs/superpowers/specs/2026-07-31-mobile-authenticated-tts-pronunciation-design.md
Due: none

feat(mobile): register authenticated TTS diagnostics
  apps/vela-mobile/src/components/mobile/TtsPronunciationDiagnosticsEntry.test.ts
  apps/vela-mobile/src/components/mobile/TtsPronunciationDiagnosticsEntry.vue
  apps/vela-mobile/src/diagnostics/tts-pronunciation-contract.ts
  apps/vela-mobile/src/pages/MorePage.test.ts
  apps/vela-mobile/src/pages/MorePage.vue
  apps/vela-mobile/src/router/diagnostic-routes.test.ts
  apps/vela-mobile/src/router/diagnostic-routes.ts
Due: none

fix(tts): prevent invalid TTS audio URLs and resource leaks
  apps/vela-api/src/routes/tts.ts
  apps/vela-mobile/src/audio/html-audio-player.test.ts
  apps/vela-mobile/src/audio/html-audio-player.ts
  apps/vela-mobile/src/composables/usePronunciationDiagnostic.test.ts
  apps/vela-mobile/src/composables/usePronunciationDiagnostic.ts
  apps/vela-mobile/src/services/mobile-lifecycle.test.ts
  apps/vela-mobile/src/services/mobile-lifecycle.ts
  apps/vela-mobile/src/services/mobile-services.test.ts
  apps/vela-mobile/src/services/mobile-tts.test.ts
  apps/vela-mobile/src/services/mobile-tts.ts
  apps/vela/src/services/ttsService.test.ts
  apps/vela/src/services/ttsService.ts
  packages/common/src/contracts/tts.test.ts
  packages/common/src/contracts/tts.ts
  packages/common/src/index.ts
Due: web, api

fix(mobile): correct pronunciation diagnostic state semantics
  apps/vela-mobile/src/pages/diagnostics/TtsPronunciationDiagnosticsPage.test.ts
  apps/vela-mobile/src/pages/diagnostics/TtsPronunciationDiagnosticsPage.vue
Due: none

fix(mobile): harden TTS diagnostics
  apps/vela-mobile/src/composables/useDueReviewCount.test.ts
  apps/vela-mobile/src/pages/diagnostics/TtsPronunciationDiagnosticsPage.test.ts
  apps/vela-mobile/src/pages/diagnostics/TtsPronunciationDiagnosticsPage.vue
  apps/vela-mobile/src/services/mobile-api-client.test.ts
  apps/vela-mobile/src/services/mobile-api-client.ts
  apps/vela-mobile/src/services/mobile-auth.test.ts
  apps/vela-mobile/src/services/mobile-services.test.ts
  apps/vela-mobile/src/services/mobile-tts.test.ts
  apps/vela-mobile/src/services/mobile-tts.ts
Due: none

ci: run build checks when PR base changes
  .github/workflows/build-lint.yml
Due: none

test(mobile): verify TTS diagnostic exclusion
  apps/vela-mobile/scripts/verify-production-diagnostics.mjs
  apps/vela-mobile/scripts/verify-production-diagnostics.test.mjs
Due: none

feat: share validated TTS contracts
  apps/vela/src/services/ttsService.test.ts
  apps/vela/src/services/ttsService.ts
  packages/common/src/contracts/tts.test.ts
  packages/common/src/contracts/tts.ts
  packages/common/src/index.ts
Due: web

feat(mobile): register and isolate TTS service
  apps/vela-mobile/src/boot/mobile-auth.test.ts
  apps/vela-mobile/src/boot/mobile-auth.ts
  apps/vela-mobile/src/services/mobile-services.test.ts
  apps/vela-mobile/src/services/mobile-services.ts
  apps/vela-mobile/src/services/mobile-tts-auth-isolation.test.ts
  apps/vela-mobile/src/services/mobile-tts-auth-isolation.ts
Due: none

fix(mobile): handle TTS auth cleanup failures
  apps/vela-mobile/src/services/mobile-tts-auth-isolation.test.ts
  apps/vela-mobile/src/services/mobile-tts-auth-isolation.ts
Due: none

feat(mobile): add authenticated TTS service
  apps/vela-mobile/src/services/mobile-tts.test.ts
  apps/vela-mobile/src/services/mobile-tts.ts
Due: none

ci: run unit checks when PR base changes
  .github/workflows/unit-test.yml
Due: none

docs: address HPA-208 design review
  docs/superpowers/specs/2026-07-31-mobile-authenticated-tts-pronunciation-design.md
Due: none

fix(mobile): bound TTS user generations
  apps/vela-mobile/src/services/mobile-tts.test.ts
  apps/vela-mobile/src/services/mobile-tts.ts
Due: none

Path conditions:
  web: any of: apps/vela/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/e2e/**
  api: any of: apps/vela-api/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/e2e/**
  ext: any of: apps/vela-ext/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/e2e/**
