Repository cwchanap/Vela: changes, and which Codecov flags are due for each by the changed paths.
All: web, api, ext

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true

ignore:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/test/**'
  - '**/tests/**'
  - '**/e2e/**'

comment:
  layout: 'reach,diff,flags,files'
  behavior: default
  require_changes: false

flags:
  web:
    paths:
      - apps/vela/
  api:
    paths:
      - apps/vela-api/
  ext:
    paths:
      - apps/vela-ext/

ext(vela-ext): add sign-out button to dashboard and align tests with refreshed UI
  apps/vela-ext/entrypoints/popup/DashboardPage.vue
  apps/vela-ext/tests/popup/DashboardPage.test.ts
  apps/vela-ext/tests/popup/LoginPage.test.ts
Due: ext

ext(vela-ext): improve accessibility with ARIA labels, reduced motion, and persistent sign-out
  apps/vela-ext/entrypoints/popup/App.vue
  apps/vela-ext/entrypoints/popup/DashboardPage.vue
  apps/vela-ext/entrypoints/popup/style.css
  apps/vela-ext/tests/popup/App.test.ts
  apps/vela-ext/tests/popup/DashboardPage.test.ts
Due: ext

ext(vela-ext): add ARIA disclosure attributes to instructions accordion
  apps/vela-ext/entrypoints/popup/DashboardPage.vue
  apps/vela-ext/tests/popup/DashboardPage.test.ts
Due: ext

fix(ui): add noopener to external links and align login page class name
  apps/vela-ext/entrypoints/popup/DashboardPage.vue
  apps/vela/src/pages/auth/LoginPage.vue
Due: web, ext

feat(ui): refresh auth and extension popup with wa-modern design system
  apps/vela-ext/entrypoints/popup/App.vue
  apps/vela-ext/entrypoints/popup/DashboardPage.vue
  apps/vela-ext/entrypoints/popup/LoginPage.vue
  apps/vela-ext/entrypoints/popup/index.html
  apps/vela-ext/entrypoints/popup/style.css
  apps/vela/src/components/auth/AuthForm.vue
  apps/vela/src/pages/auth/LoginPage.vue
Due: web, ext

docs: add test coverage 95% design
  docs/plans/2026-05-24-test-coverage-95-design.md
Due: none

docs: add test coverage 95% implementation plan
  docs/plans/2026-05-24-test-coverage-95-plan.md
Due: none

chore: configure coverage exclusions and 95% thresholds across all packages
  apps/vela-api/bunfig.toml
  apps/vela-ext/vitest.config.ts
  apps/vela/vitest.config.ts
  packages/common/vitest.config.ts
Due: web, api, ext

test(common): add tests for config and query key factories
  packages/common/src/config.test.ts
  packages/common/src/keys.test.ts
Due: none

test(vela-ext): add tests for idb and pendingQueue
  apps/vela-ext/tests/utils/idb.test.ts
  apps/vela-ext/tests/utils/pendingQueue.test.ts
Due: none

test(vela-ext): expand storage tests for idToken, isAuthenticated, error paths
  apps/vela-ext/tests/utils/storage.test.ts
Due: none

test(cdk): add DatabaseStack and StorageStack tests, coverage config
  packages/cdk/bunfig.toml
  packages/cdk/test/database-stack.test.ts
  packages/cdk/test/storage-stack.test.ts
Due: none

test(vela-api): add error path tests for profiles, auth, vocabulary routes
  apps/vela-api/test/routes/auth.test.ts
  apps/vela-api/test/routes/profiles.test.ts
  apps/vela-api/test/routes/vocabulary.test.ts
Due: none

test(vela-api): add dynamodb error path tests for batch ops, SRS, progress
  apps/vela-api/test/dynamodb.test.ts
Due: none

test(vela-api): add error path tests for my-dictionaries, srs, tts, chat-history routes
  apps/vela-api/test/routes/chat-history.test.ts
  apps/vela-api/test/routes/my-dictionaries.test.ts
  apps/vela-api/test/routes/srs.test.ts
  apps/vela-api/test/routes/tts.test.ts
Due: none

test(vela-ext): close remaining coverage gaps to reach 95%
  apps/vela-ext/tests/background.test.ts
  apps/vela-ext/tests/content.test.ts
  apps/vela-ext/tests/popup/App.test.ts
  apps/vela-ext/tests/utils/api.test.ts
  apps/vela-ext/tests/utils/webappSession.test.ts
  apps/vela-ext/tests/webapp-session-content.test.ts
Due: none

test: fix spy cleanup and test descriptions for coverage reliability
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-ext/tests/utils/webappSession.test.ts
Due: none

test(common): enable coverage all flag and clean up plan doc
  docs/plans/2026-05-24-test-coverage-95-plan.md
  packages/common/vitest.config.ts
Due: none

test(vela-api): clean up type casting and mock binding in auth and srs tests
  apps/vela-api/test/routes/auth.test.ts
  apps/vela-api/test/routes/srs.test.ts
Due: none

test(vela-api): simplify mock context in auth error-path test
  apps/vela-api/test/routes/auth.test.ts
Due: none

feat(vela-api,cdk): support browser extension CORS in API and infrastructure
  .env.example
  apps/vela-api/README.md
  apps/vela-api/src/middleware/cors.ts
  apps/vela-api/test/middleware/cors.test.ts
  apps/vela-api/test/routes/my-dictionaries.test.ts
  packages/cdk/lib/api-stack.ts
  packages/cdk/test/api-stack.test.ts
Due: api

chore(repo): remove speckit specification tooling
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
  .github/agents
  .github/prompts/speckit.analyze.prompt.md
  .github/prompts/speckit.checklist.prompt.md
  .github/prompts/speckit.clarify.prompt.md
  .github/prompts/speckit.constitution.prompt.md
  .github/prompts/speckit.implement.prompt.md
  .github/prompts/speckit.plan.prompt.md
  .github/prompts/speckit.specify.prompt.md
  .github/prompts/speckit.tasks.prompt.md
  .github/prompts/speckit.taskstoissues.prompt.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  .windsurf/workflows
Due: none

feat(vela-mobile): add workspace package and install dependencies
  apps/vela-mobile/.gitignore
  apps/vela-mobile/package.json
  bun.lock
Due: none
