Repository cwchanap/Vela: changes, and which Codecov flags are due for each by the changed paths.
All: web, api, ext

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true

ignore:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/test/**'
  - '**/tests/**'
  - '**/e2e/**'

comment:
  layout: 'reach,diff,flags,files'
  behavior: default
  require_changes: false

flags:
  web:
    paths:
      - apps/vela/
  api:
    paths:
      - apps/vela-api/
  ext:
    paths:
      - apps/vela-ext/

docs: add app unit coverage design spec
  docs/superpowers/specs/2026-03-31-app-unit-test-coverage-design.md
Due: none

fix(quasar.config): prevent duplicate alias entries and improve test reliability
  apps/vela/quasar.config.ts
  apps/vela/src/config/index.test.ts
  apps/vela/src/test/quasar.config.test.ts
Due: web

test: add comprehensive tests for NavigationLink component
  apps/vela/src/components/NavigationLink.test.ts
Due: none

test: add stores/index.test.ts
  apps/vela/src/stores/index.test.ts
Due: none

test(auth): extend AuthForm behavior coverage
  apps/vela/src/components/auth/AuthForm.test.ts
Due: none

test(UserProfile): tighten follow-up assertions
  apps/vela/src/components/auth/UserProfile.test.ts
Due: none

test: expand unit test coverage across flashcards, games, config, and services
  apps/vela/src/components/EssentialLink.test.ts
  apps/vela/src/components/ExampleComponent.test.ts
  apps/vela/src/components/flashcards/FlashcardCard.test.ts
  apps/vela/src/components/flashcards/FlashcardInput.test.ts
  apps/vela/src/components/flashcards/FlashcardSetup.test.ts
  apps/vela/src/components/flashcards/FlashcardSetup.vue
  apps/vela/src/components/games/SentenceBuilder.test.ts
  apps/vela/src/components/games/listening/AudioPlayer.test.ts
  apps/vela/src/components/progress/SrsStatsCard.test.ts
  apps/vela/src/composables/queries/index.test.ts
  apps/vela/src/config/index.test.ts
  apps/vela/src/config/index.ts
  apps/vela/src/layouts/MainLayout.test.ts
  apps/vela/src/pages/FlashcardReview.test.ts
  apps/vela/src/pages/FlashcardReview.vue
  apps/vela/src/pages/IndexPage.test.ts
  apps/vela/src/pages/auth/LoginPage.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.test.ts
  apps/vela/src/pages/games/ListeningGame.test.ts
  apps/vela/src/pages/games/VocabularyGame.test.ts
  apps/vela/src/pages/settings/SettingsPage.test.ts
  apps/vela/src/services/authService.test.ts
  apps/vela/src/services/gameService.test.ts
  apps/vela/src/services/llm/index.test.ts
  apps/vela/src/stores/flashcards.test.ts
  apps/vela/src/stores/llmSettings.test.ts
  apps/vela/src/utils/flashcardReviewUtils.test.ts
  apps/vela/src/utils/httpClient.test.ts
Due: web

test(quasar.config): add unit tests and alias configuration for @vela/common
  apps/vela/quasar.config.ts
  apps/vela/src/test/mocks/q-app-wrappers.ts
  apps/vela/src/test/quasar.config.test.ts
Due: web

test(UserProfile): extend coverage for behavior methods
  apps/vela/src/components/auth/UserProfile.test.ts
Due: none

test: add boot file tests for main and query
  apps/vela/src/boot/main.test.ts
  apps/vela/src/boot/query.test.ts
  apps/vela/src/test/mocks/quasar-wrappers.ts
  apps/vela/vitest.config.ts
Due: web

test(auth): tighten AuthForm follow-up assertions
  apps/vela/src/components/auth/AuthForm.test.ts
Due: none

refactor(test): verify re-export contract in query.test.ts
  apps/vela/src/boot/query.test.ts
Due: none

test(vela): improve unit test branch coverage from 92.38% to 93.16%
  apps/vela/src/components/games/listening/AnswerFeedback.test.ts
  apps/vela/src/components/games/listening/ListeningSetup.test.ts
  apps/vela/src/composables/queries/useAuthQueries.test.ts
  apps/vela/src/layouts/MainLayout.test.ts
  apps/vela/src/pages/IndexPage.test.ts
  apps/vela/src/pages/auth/ProfilePage.test.ts
  apps/vela/src/pages/chat/AIChatPage.test.ts
  apps/vela/src/pages/games/GamesIndex.test.ts
  apps/vela/src/pages/settings/SettingsPage.test.ts
Due: none

test(vela): address CodeRabbit review comments on test quality
  apps/vela/src/components/games/listening/AnswerFeedback.test.ts
  apps/vela/src/components/games/listening/ListeningSetup.test.ts
  apps/vela/src/layouts/MainLayout.test.ts
  apps/vela/src/pages/IndexPage.test.ts
  apps/vela/src/pages/auth/ProfilePage.test.ts
  apps/vela/src/pages/chat/AIChatPage.test.ts
  apps/vela/src/pages/settings/SettingsPage.test.ts
Due: none

test(vela): address Copilot review comments
  apps/vela/src/components/games/listening/ListeningSetup.test.ts
  apps/vela/src/pages/settings/SettingsPage.test.ts
Due: none

docs: simplify and condense CLAUDE.md for better readability
  CLAUDE.md
Due: none

docs: update CLAUDE.md with Vela extension architecture and testing patterns
  CLAUDE.md
Due: none

test(common): add error path test and singleton docs to tokenizer
  packages/common/src/tokenizer.test.ts
Due: none

feat(vela-api): add GET /dictionary/lookup Jisho proxy endpoint
  apps/vela-api/src/index.ts
  apps/vela-api/src/routes/dictionary.ts
  apps/vela-api/test/routes/dictionary.test.ts
Due: api

feat(vela-api): add POST /vocabulary/from-word flashcard creation endpoint
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/index.ts
  apps/vela-api/src/routes/vocabulary.ts
  apps/vela-api/test/routes/vocabulary.test.ts
Due: api

fix(vela-api): persist source_url in vocabulary creation
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/vocabulary.ts
  apps/vela-api/test/routes/vocabulary.test.ts
Due: api

feat(vela): add word highlighting, difficulty badge, and definition popover to MyDictionariesPage
  apps/vela/src/pages/dictionary/MyDictionariesPage.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
  apps/vela/src/services/vocabularyService.test.ts
  apps/vela/src/services/vocabularyService.ts
  apps/vela/src/utils/japanese.test.ts
  apps/vela/src/utils/japanese.ts
Due: web

fix(vela): cap popover meanings at 3 and gate 'Added!' on result.created
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
Due: web

refactor(vela): address code quality issues from Task 4 review
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
  apps/vela/src/utils/japanese.ts
Due: web

feat(vela-ext): add batch import overlay via Shadow DOM content script
  apps/vela-ext/entrypoints/content.test.ts
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/entrypoints/test-setup.ts
  apps/vela-ext/vitest.config.ts
Due: ext

fix(vela-ext): guard document.body null and handle sendMessage rejection
  apps/vela-ext/entrypoints/content.ts
Due: ext

feat(vela-ext): add IndexedDB offline queue, scan-page context menu, and pending badge
  apps/vela-ext/entrypoints/background.test.ts
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/popup/DashboardPage.vue
  apps/vela-ext/entrypoints/utils/pendingQueue.ts
Due: ext

fix(vela-ext): catch fetch network errors, fix retry threshold, add discard notification in catch
  apps/vela-ext/entrypoints/background.ts
Due: ext

refactor(vela-ext): extract shared IDB helpers, type onMessage, guard onFocusChanged
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/utils/idb.ts
  apps/vela-ext/entrypoints/utils/pendingQueue.ts
Due: ext

fix: remove Limit:1 from findByWord scan and restore flashcard 'added' state
  apps/vela-api/src/dynamodb.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
Due: web, api

refactor(vela-ext): move test files from entrypoints/ to tests/
  apps/vela-ext/tests/background.test.ts
  apps/vela-ext/tests/content.test.ts
  apps/vela-ext/tests/popup/DashboardPage.test.ts
  apps/vela-ext/tests/popup/LoginPage.test.ts
  apps/vela-ext/tests/test-setup.ts
  apps/vela-ext/tests/utils/api.test.ts
  apps/vela-ext/tests/utils/storage.test.ts
  apps/vela-ext/vitest.config.ts
Due: ext

fix(vela): only include optional flashcard fields when defined
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
  packages/common/src/tokenizer.test.ts
Due: web

feat: add dictionary lookup to MyDictionariesPage with TanStack Query
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/dictionary.ts
  apps/vela-api/src/routes/vocabulary.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-api/test/routes/dictionary.test.ts
  apps/vela-api/test/routes/vocabulary.test.ts
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/entrypoints/popup/DashboardPage.vue
  apps/vela-ext/tests/background.test.ts
  apps/vela-ext/tests/content.test.ts
  apps/vela-ext/tests/popup/DashboardPage.test.ts
  apps/vela-ext/tests/test-setup.ts
  apps/vela/src/composables/queries/index.test.ts
  apps/vela/src/composables/queries/index.ts
  apps/vela/src/composables/queries/useVocabularyQueries.test.ts
  apps/vela/src/composables/queries/useVocabularyQueries.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
  apps/vela/src/services/vocabularyService.test.ts
  apps/vela/src/services/vocabularyService.ts
  apps/vela/src/utils/japanese.test.ts
  apps/vela/src/utils/japanese.ts
  packages/common/src/index.ts
  packages/common/src/keys.ts
  packages/common/src/tokenizer.test.ts
  packages/common/src/tokenizer.ts
Due: web, api, ext

fix: improve vocabulary lookup, extension message handling, and flashcard button
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/tests/content.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
Due: web, api, ext

fix: require auth on dictionary lookup route and log Jisho proxy errors
  apps/vela-api/src/routes/dictionary.ts
  apps/vela-api/test/routes/dictionary.test.ts
  apps/vela/src/services/vocabularyService.test.ts
  apps/vela/src/services/vocabularyService.ts
Due: web, api

fix: throw on vocabulary.create race condition and remove lowercase normalization from word IDs
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/test/dynamodb.test.ts
Due: api
