Repository cwchanap/Vela: changes, and which Codecov flags are due for each by the changed paths.
All: web, api, ext

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true

ignore:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/test/**'
  - '**/tests/**'
  - '**/e2e/**'

comment:
  layout: 'reach,diff,flags,files'
  behavior: default
  require_changes: false

flags:
  web:
    paths:
      - apps/vela/
  api:
    paths:
      - apps/vela-api/
  ext:
    paths:
      - apps/vela-ext/

Add unit test coverage improvement design doc
  docs/plans/2026-02-21-unit-test-coverage-design.md
Due: none

test: add auth middleware unit tests
  apps/vela-api/test/middleware/auth.test.ts
Due: none

test: add SRS route unit tests
  apps/vela-api/test/routes/srs.test.ts
Due: none

test: add profiles route additional test coverage
  apps/vela-api/test/routes/profiles.test.ts
Due: none

test: add validation schema unit tests
  apps/vela-api/test/validation.test.ts
Due: none

test: add auth store unit tests
  apps/vela/src/stores/auth.test.ts
Due: none

test: add games store unit tests
  apps/vela/src/stores/games.test.ts
Due: none

test: add query composable unit tests
  apps/vela/src/composables/queries/useAuthQueries.test.ts
  apps/vela/src/composables/queries/useGameQueries.test.ts
  apps/vela/src/composables/queries/useMyDictionariesQueries.test.ts
  apps/vela/src/composables/queries/useProgressQueries.test.ts
Due: none

test: add japanese utils unit tests
  apps/vela/src/utils/japanese.test.ts
Due: none

fix: rewrite SRS tests using vi.mock to fix cross-file test isolation
  apps/vela-api/src/routes/srs.test.ts
  apps/vela-api/test/routes/srs.test.ts
Due: none

chore: remove Claude settings from git and add to gitignore
  .claude/settings.local.json
  .gitignore
Due: none

test: improve test cleanup utilities and remove obsolete design doc
  apps/vela-api/test/middleware/auth.test.ts
  apps/vela/src/test-utils/withQueryClient.ts
  docs/plans/2026-02-21-unit-test-coverage-design.md
Due: web

test: improve test assertions and add automatic cleanup
  apps/vela-api/test/routes/srs.test.ts
  apps/vela/src/composables/queries/useAuthQueries.test.ts
  apps/vela/src/composables/queries/useGameQueries.test.ts
  apps/vela/src/test-utils/withQueryClient.ts
Due: web

test: enhance console suppression in auth tests and query client cleanup
  apps/vela-api/test/middleware/auth.test.ts
  apps/vela/src/test-utils/withQueryClient.ts
Due: web

fix: only invalidate queries on successful sign up and improve test coverage
  apps/vela/src/composables/queries/useAuthQueries.test.ts
  apps/vela/src/composables/queries/useAuthQueries.ts
Due: web

test: improve cleanup utilities with explicit cleanup function and better console suppression
  apps/vela-api/test/middleware/auth.test.ts
  apps/vela/src/test-utils/withQueryClient.ts
Due: web

feat: add multi-provider support for TTS (ElevenLabs, OpenAI, Gemini)
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/tts.ts
  apps/vela-api/src/tts/factory.ts
  apps/vela-api/src/tts/providers/elevenlabs.ts
  apps/vela-api/src/tts/providers/gemini.ts
  apps/vela-api/src/tts/providers/openai.ts
  apps/vela-api/src/tts/types.ts
  apps/vela/src/pages/settings/SettingsPage.vue
  apps/vela/src/services/ttsService.test.ts
  apps/vela/src/services/ttsService.ts
Due: web, api

fix: improve TTS provider validation and adjust presigned URL expiry
  apps/vela-api/src/routes/tts.ts
  apps/vela/src/composables/queries/index.ts
  apps/vela/src/composables/queries/useTTSQueries.ts
  apps/vela/src/pages/settings/SettingsPage.vue
  apps/vela/src/services/ttsService.ts
  packages/common/src/keys.ts
Due: web, api

refactor: centralize TTS query keys and migrate to TanStack Query for TTS settings
  apps/vela/src/composables/queries/useTTSQueries.ts
  apps/vela/src/pages/settings/SettingsPage.vue
  packages/common/src/index.ts
Due: web

fix: clear TTS audio URL cache on settings save and sign out
  apps/vela/src/services/ttsService.ts
  apps/vela/src/stores/auth.ts
Due: web

fix: improve TTS caching, fix Gemini API auth, and add more voice options
  apps/vela-api/src/routes/tts.ts
  apps/vela-api/src/tts/providers/gemini.ts
  apps/vela/src/composables/queries/useTTSQueries.ts
  apps/vela/src/pages/settings/SettingsPage.vue
  apps/vela/src/services/ttsService.ts
Due: web, api

fix: correct saveTTSSettings test arguments after userId removal from signature
  apps/vela/src/services/ttsService.test.ts
Due: none

fix: add required userId argument to getAudioUrl and generatePronunciation test calls
  apps/vela/src/services/ttsService.test.ts
Due: none

fix: return 503 on non-404 S3 cache errors; wrap S3 upload and presigning in try/catch
  apps/vela-api/src/routes/tts.ts
Due: api
