Repository cwchanap/Vela: changes, and which Codecov flags are due for each by the changed paths.
All: web, api, ext

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true

ignore:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/test/**'
  - '**/tests/**'
  - '**/e2e/**'

comment:
  layout: 'reach,diff,flags,files'
  behavior: default
  require_changes: false

flags:
  web:
    paths:
      - apps/vela/
  api:
    paths:
      - apps/vela-api/
  ext:
    paths:
      - apps/vela-ext/

fix(auth): manage google oauth secret in cdk
  .github/workflows/deploy.yml
  packages/cdk/lib/auth-stack.ts
  packages/cdk/test/auth-stack.test.ts
Due: none

fix(auth): simplify buildE2EWebServerEnv type signature
  apps/vela/playwright.config.ts
Due: web

fix(auth): enforce protected routes in dev
  apps/vela/src/router/index.test.ts
  apps/vela/src/router/index.ts
Due: web

docs: design google-only auth
  docs/superpowers/specs/2026-05-20-google-only-auth-design.md
Due: none

fix(deploy): generate quasar production env file
  .github/workflows/deploy.yml
  apps/vela/.gitignore
  packages/cdk/scripts/inject-env.ts
  packages/cdk/test/inject-env.test.ts
Due: web

refactor(auth): remove password auth endpoints
  apps/vela-api/src/routes/auth.ts
  apps/vela-api/test/routes/auth.test.ts
  apps/vela-ext/tests/utils/webappSession.test.ts
Due: api

fix(auth): address review feedback on profile creation, test client and env loading
  .env.example
  apps/vela-api/src/index.ts
  apps/vela/src/services/authService.test.ts
  apps/vela/src/services/authService.ts
  packages/cdk/lib/auth-stack.ts
  packages/cdk/test/auth-stack.test.ts
Due: web, api

feat(auth): dedicated e2e test client and auto-create profile on OAuth session
  apps/vela/e2e/fixtures/auth.ts
  apps/vela/src/services/authService.test.ts
  apps/vela/src/services/authService.ts
  packages/cdk/lib/auth-stack.ts
  packages/cdk/lib/static-web-stack.ts
  packages/cdk/scripts/inject-env.ts
  packages/cdk/test/auth-stack.test.ts
  packages/cdk/test/inject-env.test.ts
Due: web

fix(auth): address review feedback — ADMIN_USER_PASSWORD_AUTH naming, server reuse logic, and unit tests
  apps/vela/e2e/fixtures/auth.ts
  apps/vela/playwright.config.ts
  apps/vela/src/test/e2eAuthConfig.test.ts
  packages/cdk/lib/auth-stack.ts
Due: web

fix(auth): handle OAuth/token failure events, validate config at boot, and add tests
  apps/vela-ext/entrypoints/utils/webappSession.ts
  apps/vela-ext/entrypoints/webapp-session.content.ts
  apps/vela/src/boot/main.ts
  apps/vela/src/services/authService.test.ts
  apps/vela/src/services/authService.ts
  apps/vela/src/stores/auth.test.ts
  apps/vela/src/stores/auth.ts
Due: web, ext

fix(auth): read user claims from ID token and restrict test client to Cognito IdP
  apps/vela/src/services/authService.test.ts
  apps/vela/src/services/authService.ts
  packages/cdk/lib/auth-stack.ts
  packages/cdk/test/auth-stack.test.ts
Due: web

fix(auth): wait for isAuthenticated before redirecting on login/callback
  apps/vela/src/pages/auth/LoginPage.test.ts
  apps/vela/src/pages/auth/LoginPage.vue
Due: web

fix(auth): clean up legacy local auth success handling and harden oauth config
  apps/vela/src/components/auth/AuthForm.vue
  apps/vela/src/pages/auth/LoginPage.test.ts
  apps/vela/src/pages/auth/LoginPage.vue
  packages/cdk/lib/auth-stack.ts
  packages/cdk/test/auth-stack.test.ts
  packages/cdk/test/inject-env.test.ts
Due: web

fix(deploy): rename .env.prod to .env.production
  .github/workflows/deploy.yml
  packages/cdk/scripts/inject-env.ts
  packages/cdk/test/inject-env.test.ts
Due: none

docs: add Authentication section and update E2E test requirements
  CLAUDE.md
Due: none

feat(auth): replace credential surfaces with google sign-in
  apps/vela/src/components/auth/AuthForm.test.ts
  apps/vela/src/components/auth/AuthForm.vue
  apps/vela/src/components/auth/UserProfile.test.ts
  apps/vela/src/components/auth/UserProfile.vue
  apps/vela/src/composables/queries/useAuthQueries.test.ts
  apps/vela/src/composables/queries/useAuthQueries.ts
  apps/vela/src/pages/auth/LoginPage.test.ts
  apps/vela/src/pages/auth/LoginPage.vue
  apps/vela/src/stores/auth.test.ts
  apps/vela/src/stores/auth.ts
Due: web

fix(auth): default cognito domain prefix in cdk
  .github/workflows/deploy.yml
  packages/cdk/lib/auth-stack.ts
  packages/cdk/test/auth-stack.test.ts
Due: none

fix(auth): guard against duplicate redirect on login and tighten CDK test
  apps/vela/src/pages/auth/LoginPage.vue
  packages/cdk/test/auth-stack.test.ts
Due: web

feat(auth): add cognito oauth frontend config
  .env.example
  apps/vela/quasar.config.ts
  apps/vela/src/config/index.test.ts
  apps/vela/src/config/index.ts
  apps/vela/src/env.d.ts
Due: web

fix(auth): add missing AWS Cognito SDK devDependency for E2E tests
  apps/vela/package.json
  bun.lock
Due: web

fix(extension): use production api for release builds
  apps/vela-ext/.env.production
  apps/vela-ext/tests/devWorkflow.test.ts
Due: ext

fix(auth): copy oauth providers for amplify
  apps/vela/src/services/authService.ts
Due: web

test(auth): align e2e and unit tests with Google-only auth flow
  apps/vela/e2e/fixtures/auth.ts
  apps/vela/e2e/login.spec.ts
  apps/vela/e2e/smoke.spec.ts
  apps/vela/src/services/authService.test.ts
  apps/vela/src/services/authService.ts
Due: web

fix(extension): isolate scanner from auth surfaces
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/entrypoints/webapp-session.content.ts
  apps/vela-ext/tests/content.test.ts
  apps/vela-ext/tests/webapp-session-content.test.ts
  apps/vela-ext/types/globals.d.ts
Due: ext

fix(auth): always include local OAuth URLs regardless of placeholder flag
  packages/cdk/lib/auth-stack.ts
  packages/cdk/test/auth-stack.test.ts
Due: none

fix(auth): harden google hosted ui config
  .github/workflows/deploy.yml
  packages/cdk/lib/auth-stack.ts
  packages/cdk/package.json
  packages/cdk/scripts/inject-env.ts
  packages/cdk/test/auth-stack.test.ts
  packages/cdk/test/inject-env.test.ts
Due: none

fix(auth): harden oauth config validation
  .env.example
  apps/vela/src/config/index.test.ts
  apps/vela/src/config/index.ts
Due: web

feat(cdk): make Cognito callback/logout URLs configurable via env vars
  packages/cdk/lib/auth-stack.ts
  packages/cdk/package.json
  packages/cdk/test/auth-stack.test.ts
Due: none

fix(auth): preserve google redirect flow
  .github/workflows/deploy.yml
  apps/vela/e2e/auth.spec.ts
  apps/vela/playwright.config.ts
  apps/vela/src/components/auth/AuthForm.test.ts
  apps/vela/src/components/auth/AuthForm.vue
  apps/vela/src/pages/auth/LoginPage.test.ts
  apps/vela/src/pages/auth/LoginPage.vue
  apps/vela/src/stores/auth.test.ts
  apps/vela/src/stores/auth.ts
  packages/cdk/lib/auth-stack.ts
  packages/cdk/test/auth-stack.test.ts
Due: web

fix(auth): handle async OAuth callback redirect and omit null fields in profile creation
  apps/vela/src/pages/auth/LoginPage.test.ts
  apps/vela/src/pages/auth/LoginPage.vue
  apps/vela/src/services/authService.test.ts
  apps/vela/src/services/authService.ts
Due: web

fix(auth): enable OAuth redirect listener for code exchange
  apps/vela/src/services/authService.test.ts
  apps/vela/src/services/authService.ts
Due: web

docs: plan google-only auth implementation
  docs/superpowers/plans/2026-05-20-google-only-auth.md
Due: none

fix(auth): scope deploy secret, extract server-reuse helper, and separate local OAuth URLs
  .github/workflows/deploy.yml
  apps/vela/playwright.config.ts
  apps/vela/src/test/e2eAuthConfig.test.ts
  packages/cdk/lib/auth-stack.ts
Due: web

feat(auth): use google hosted ui service auth
  apps/vela/src/services/authService.test.ts
  apps/vela/src/services/authService.ts
Due: web

fix(auth): guard against missing OAuth domain and tighten extension match patterns
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/tests/content.test.ts
  apps/vela/src/services/authService.test.ts
  apps/vela/src/services/authService.ts
Due: web, ext

fix(auth): address e2e client and extension fixture review
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/tests/content.test.ts
  apps/vela/e2e/fixtures/auth.ts
  apps/vela/playwright.config.ts
  apps/vela/src/test/e2eAuthConfig.test.ts
Due: web, ext

fix(auth): profile creation memoization and isAuthenticated read-only
  apps/vela-ext/tests/content.test.ts
  apps/vela-ext/tests/webapp-session-content.test.ts
  apps/vela/e2e/fixtures/auth.ts
  apps/vela/src/services/authService.test.ts
  apps/vela/src/services/authService.ts
Due: web

feat(ui): refresh auth and extension popup with wa-modern design system
  apps/vela-ext/entrypoints/popup/App.vue
  apps/vela-ext/entrypoints/popup/DashboardPage.vue
  apps/vela-ext/entrypoints/popup/LoginPage.vue
  apps/vela-ext/entrypoints/popup/index.html
  apps/vela-ext/entrypoints/popup/style.css
  apps/vela/src/components/auth/AuthForm.vue
  apps/vela/src/pages/auth/LoginPage.vue
Due: web, ext

fix(ui): add noopener to external links and align login page class name
  apps/vela-ext/entrypoints/popup/DashboardPage.vue
  apps/vela/src/pages/auth/LoginPage.vue
Due: web, ext

ext(vela-ext): add ARIA disclosure attributes to instructions accordion
  apps/vela-ext/entrypoints/popup/DashboardPage.vue
  apps/vela-ext/tests/popup/DashboardPage.test.ts
Due: ext
