Repository cwchanap/Vela: changes, and which Codecov flags are due for each by the changed paths.
All: web, api, ext

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true

ignore:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/test/**'
  - '**/tests/**'
  - '**/e2e/**'

comment:
  layout: 'reach,diff,flags,files'
  behavior: default
  require_changes: false

flags:
  web:
    paths:
      - apps/vela/
  api:
    paths:
      - apps/vela-api/
  ext:
    paths:
      - apps/vela-ext/

fix: improve dictionary lookups and sentence saving
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/dictionary.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-api/test/routes/dictionary.test.ts
  apps/vela-api/test/routes/my-dictionaries.test.ts
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/tests/background.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
Due: web, api, ext

refactor: improve vocabulary and dictionary data handling
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/dictionary.ts
  apps/vela-api/src/routes/my-dictionaries.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-api/test/routes/dictionary.test.ts
  apps/vela-api/test/routes/my-dictionaries.test.ts
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/tests/content.test.ts
  apps/vela/src/composables/queries/useVocabularyQueries.test.ts
  apps/vela/src/composables/queries/useVocabularyQueries.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
  apps/vela/src/services/vocabularyService.test.ts
  apps/vela/src/services/vocabularyService.ts
Due: web, api, ext

fix: improve vocabulary lookup, extension message handling, and flashcard button
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/tests/content.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
Due: web, api, ext

feat(api): handle idempotent replay for dictionary sentences
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/dictionary.ts
  apps/vela-api/test/dynamodb.test.ts
Due: api

fix(vela): only include optional flashcard fields when defined
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
  packages/common/src/tokenizer.test.ts
Due: web

feat: add zip task to turbo.json and add publish-extension workflow
  .github/workflows/publish-extension.yml
  docs/superpowers/plans/2026-04-17-contextual-sentence-mining.md
  turbo.json
Due: none

refactor: use working-directory in publish-extension workflow
  .github/workflows/publish-extension.yml
Due: none

fix: add missing env var to publish-extension workflow
  .github/workflows/publish-extension.yml
Due: none

fix extension auth session reuse
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/entrypoints/popup/App.vue
  apps/vela-ext/entrypoints/popup/LoginPage.vue
  apps/vela-ext/entrypoints/utils/api.ts
  apps/vela-ext/entrypoints/utils/webappSession.ts
  apps/vela-ext/tests/content.test.ts
  apps/vela-ext/tests/popup/App.test.ts
  apps/vela-ext/tests/popup/LoginPage.test.ts
  apps/vela-ext/tests/utils/api.test.ts
  apps/vela-ext/tests/utils/webappSession.test.ts
Due: ext

refactor: use shared query key factories and extract game types
  apps/vela-ext/entrypoints/utils/api.ts
  apps/vela-ext/tests/popup/LoginPage.test.ts
  apps/vela-ext/tests/utils/api.test.ts
  apps/vela/src/composables/queries/useAuthQueries.test.ts
  apps/vela/src/composables/queries/useAuthQueries.ts
  apps/vela/src/composables/queries/useGameQueries.test.ts
  apps/vela/src/composables/queries/useGameQueries.ts
  apps/vela/src/composables/queries/useProgressQueries.test.ts
  apps/vela/src/composables/queries/useProgressQueries.ts
  apps/vela/src/services/gameService.test.ts
  apps/vela/src/services/gameService.ts
  apps/vela/src/stores/games.ts
  apps/vela/src/types/games.ts
  apps/vela/src/utils/vocabulary.ts
  apps/vela/vitest.config.ts
Due: web, ext

fix: properly use sendResponse for async message handling in content script
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/tests/content.test.ts
Due: ext

fix(ext): improve auth session import robustness and error handling
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/entrypoints/popup/App.vue
  apps/vela-ext/entrypoints/utils/webappSession.ts
  apps/vela-ext/tests/content.test.ts
  apps/vela-ext/tests/popup/App.test.ts
  apps/vela-ext/tests/utils/webappSession.test.ts
  apps/vela-ext/wxt.config.ts
Due: ext

fix(ext): refresh expired ID token during webapp session import
  apps/vela-ext/entrypoints/utils/webappSession.ts
  apps/vela-ext/tests/utils/webappSession.test.ts
Due: ext

feat(ext): replace credential login with web-app session import and improve context menus
  apps/vela-api/package.json
  apps/vela-ext/README.md
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/popup/App.vue
  apps/vela-ext/entrypoints/popup/DashboardPage.vue
  apps/vela-ext/entrypoints/popup/LoginPage.vue
  apps/vela-ext/entrypoints/utils/api.ts
  apps/vela-ext/entrypoints/utils/webappSession.ts
  apps/vela-ext/package.json
  apps/vela-ext/tests/background.test.ts
  apps/vela-ext/tests/popup/App.test.ts
  apps/vela-ext/tests/popup/DashboardPage.test.ts
  apps/vela-ext/tests/popup/LoginPage.test.ts
  apps/vela-ext/tests/test-setup.ts
  apps/vela-ext/tests/utils/api.test.ts
  apps/vela-ext/tests/utils/webappSession.test.ts
  apps/vela-ext/wxt.config.ts
  apps/vela/package.json
  apps/vela/public/extension-test.html
  package.json
  turbo.json
Due: web, api, ext

chore: add Codex skill for extension testing and dev workflow test
  .codex/skills/test-vela-extension/SKILL.md
  .codex/skills/test-vela-extension/agents/openai.yaml
  .codex/skills/test-vela-extension/scripts/trigger_scan.mjs
  apps/vela-ext/tests/devWorkflow.test.ts
Due: none

ext: add test for deduplicating concurrent context menu registrations
  apps/vela-ext/tests/background.test.ts
Due: none

ext: improve error handling and context menu registration robustness
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/popup/App.vue
  apps/vela-ext/entrypoints/popup/LoginPage.vue
  apps/vela-ext/tests/background.test.ts
  apps/vela-ext/tests/popup/App.test.ts
  apps/vela-ext/tests/popup/LoginPage.test.ts
Due: ext

ext: add sign-out button, fix dev workflow script, and improve scan error handling
  .codex/skills/test-vela-extension/scripts/trigger_scan.mjs
  apps/vela-ext/entrypoints/popup/DashboardPage.vue
  apps/vela-ext/package.json
  apps/vela-ext/tests/devWorkflow.test.ts
  apps/vela-ext/tests/popup/DashboardPage.test.ts
Due: ext

ext: wait for app server before launching WXT in extension-test mode
  apps/vela-ext/package.json
  apps/vela-ext/tests/devWorkflow.test.ts
Due: ext

ext: prevent auto-import after explicit sign-out and add storage flag
  apps/vela-ext/entrypoints/popup/App.vue
  apps/vela-ext/entrypoints/popup/DashboardPage.vue
  apps/vela-ext/entrypoints/popup/LoginPage.vue
  apps/vela-ext/entrypoints/utils/storage.ts
  apps/vela-ext/tests/popup/App.test.ts
  apps/vela-ext/tests/popup/DashboardPage.test.ts
  apps/vela-ext/tests/popup/LoginPage.test.ts
  apps/vela-ext/tests/utils/storage.test.ts
Due: ext

ext: ensure setExplicitSignout is always called during sign-out
  apps/vela-ext/entrypoints/popup/DashboardPage.vue
  apps/vela-ext/tests/popup/DashboardPage.test.ts
Due: ext

fix(chat): remove redundant AWS credential checks and improve user ID fallback
  apps/vela-api/src/routes/chat-history.ts
  apps/vela-api/test/routes/chat-history.test.ts
  apps/vela/src/pages/chat/AIChatPage.test.ts
  apps/vela/src/pages/chat/AIChatPage.vue
Due: web, api

feat(httpClient): guard against non-JSON responses and extract helpers
  apps/vela/src/utils/httpClient.test.ts
  apps/vela/src/utils/httpClient.ts
  packages/cdk/lib/static-web-stack.ts
Due: web

docs: design google-only auth
  docs/superpowers/specs/2026-05-20-google-only-auth-design.md
Due: none

docs: plan google-only auth implementation
  docs/superpowers/plans/2026-05-20-google-only-auth.md
Due: none

feat(auth): add cognito oauth frontend config
  .env.example
  apps/vela/quasar.config.ts
  apps/vela/src/config/index.test.ts
  apps/vela/src/config/index.ts
  apps/vela/src/env.d.ts
Due: web
