Repository cwchanap/Vela: changes, and which Codecov flags are due for each by the changed paths.
All: web, api, ext

fix: add try/catch and logging to vocabulary/from-word route
  apps/vela-api/src/routes/vocabulary.ts
  apps/vela-api/test/routes/vocabulary.test.ts
Due: api

fix: export saveSentenceToAPI with boolean return, fix flushQueue fire-and-forget, improve error logging
  apps/vela-ext/entrypoints/background.ts
Due: ext

fix: catch fetchQuery errors in handleTokenClick to prevent infinite loading state
  apps/vela/src/pages/dictionary/MyDictionariesPage.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
Due: web

fix: narrow content script matches to http/https and log IDB failure in getPendingQueueCount
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/entrypoints/utils/pendingQueue.ts
Due: ext

test: add saveSentenceToAPI offline enqueue path tests
  apps/vela-ext/tests/background.test.ts
Due: none

test: add flushQueue and SAVE_SENTENCES handler tests; export flushQueue
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/tests/background.test.ts
Due: ext

test: add handleAddFlashcard state tests (added, exists, error)
  apps/vela/src/pages/dictionary/MyDictionariesPage.test.ts
Due: none

feat: add dictionary and vocabulary API routes with test coverage
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/dictionary.ts
  apps/vela-api/src/routes/vocabulary.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-api/test/routes/dictionary.test.ts
  apps/vela-api/test/routes/vocabulary.test.ts
  apps/vela-ext/tests/content.test.ts
  apps/vela-ext/tests/popup/DashboardPage.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
  apps/vela/src/services/vocabularyService.test.ts
  apps/vela/src/services/vocabularyService.ts
  apps/vela/src/utils/httpClient.test.ts
  apps/vela/src/utils/httpClient.ts
Due: web, api

feat: add contextual sentence mining for extension
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/tests/background.test.ts
  apps/vela-ext/tests/content.test.ts
  apps/vela/quasar.config.ts
Due: web, ext

fix: use deterministic IDs for my-dictionaries and gracefully handle offline saves in extension
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/utils/pendingQueue.ts
  apps/vela-ext/tests/background.test.ts
Due: api, ext

feat: disambiguate vocabulary homographs by reading; fix extension notification
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/tests/background.test.ts
  apps/vela-ext/tests/content.test.ts
Due: api, ext

refactor: clean up test files and update dependencies
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/vocabulary.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-api/test/routes/dictionary.test.ts
  apps/vela-api/test/routes/vocabulary.test.ts
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/tests/background.test.ts
  apps/vela-ext/tests/content.test.ts
  apps/vela/package.json
  apps/vela/src/pages/dictionary/MyDictionariesPage.test.ts
  bun.lock
Due: web, api, ext

feat: add contextual sentence mining support with extension storage improvements
  apps/vela-api/scripts/seed-vocabulary.ts
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/utils/idb.ts
  apps/vela-ext/entrypoints/utils/storage.ts
  apps/vela-ext/tests/background.test.ts
  apps/vela-ext/tests/utils/storage.test.ts
  apps/vela-ext/wxt.config.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
Due: web, api, ext

fix: resolve vocabulary route errors and add missing test assertions
  apps/vela-api/scripts/seed-vocabulary.ts
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/vocabulary.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-api/test/routes/dictionary.test.ts
  apps/vela-api/test/routes/vocabulary.test.ts
Due: api

fix: normalize hiragana to katakana for consistent vocabulary keys; fix reading fallback logic
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-ext/entrypoints/background.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
Due: web, api, ext

fix: add type guard for vocabulary item id and improve test reliability
  apps/vela-api/scripts/seed-vocabulary.ts
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/vocabulary.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-api/test/routes/dictionary.test.ts
  apps/vela-ext/tests/content.test.ts
Due: api

feat: make reading optional in vocabulary /from-word route; export toKatakana
  apps/vela-api/scripts/seed-vocabulary.ts
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/vocabulary.ts
  apps/vela-api/test/routes/vocabulary.test.ts
  apps/vela-ext/entrypoints/popup/DashboardPage.vue
  apps/vela-ext/entrypoints/utils/storage.ts
  apps/vela-ext/tests/popup/DashboardPage.test.ts
  apps/vela-ext/tests/utils/storage.test.ts
Due: api, ext

feat: add context-aware sentence lookup via /lookup-sentences route
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/vocabulary.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-api/test/routes/vocabulary.test.ts
  packages/common/src/tokenizer.test.ts
  packages/common/src/tokenizer.ts
Due: api

feat(offline-queue): add idempotency keys and user attribution for reliable retry
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/tests/background.test.ts
  apps/vela-ext/tests/test-setup.ts
  apps/vela/quasar.config.ts
  apps/vela/src/boot/main.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
  apps/vela/src/utils/japanese.test.ts
  apps/vela/src/utils/japanese.ts
  apps/vela/vitest.config.ts
  packages/common/package.json
  packages/common/src/index.ts
Due: web, ext

fix: improve Japanese text utilities and update dictionary page
  apps/vela-ext/tests/background.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
  apps/vela/src/utils/japanese.test.ts
  apps/vela/src/utils/japanese.ts
Due: web

feat(offline-queue): add idempotency keys, flush queue on login, and improve error handling
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/my-dictionaries.ts
  apps/vela-api/src/routes/vocabulary.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-api/test/routes/my-dictionaries.test.ts
  apps/vela-api/test/routes/vocabulary.test.ts
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/popup/App.vue
  apps/vela-ext/tests/background.test.ts
Due: api, ext

Prevent recreating object store on IndexedDB upgrade
  apps/vela-ext/entrypoints/utils/idb.ts
Due: ext

feat(api): handle idempotent replay for dictionary sentences
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/dictionary.ts
  apps/vela-api/test/dynamodb.test.ts
Due: api

refactor: improve vocabulary and dictionary data handling
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/dictionary.ts
  apps/vela-api/src/routes/my-dictionaries.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-api/test/routes/dictionary.test.ts
  apps/vela-api/test/routes/my-dictionaries.test.ts
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/tests/content.test.ts
  apps/vela/src/composables/queries/useVocabularyQueries.test.ts
  apps/vela/src/composables/queries/useVocabularyQueries.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
  apps/vela/src/services/vocabularyService.test.ts
  apps/vela/src/services/vocabularyService.ts
Due: web, api, ext

fix: improve dictionary lookup and sentence scanning
  apps/vela-api/src/routes/dictionary.ts
  apps/vela-api/test/routes/dictionary.test.ts
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/tests/background.test.ts
  apps/vela-ext/tests/content.test.ts
Due: api, ext

fix: keep empty tokens in tokenizer for sentence boundary detection
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/entrypoints/popup/DashboardPage.vue
  apps/vela-ext/tests/background.test.ts
  apps/vela-ext/tests/popup/DashboardPage.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
  packages/common/src/tokenizer.test.ts
  packages/common/src/tokenizer.ts
Due: web, ext

fix: exclude ruby annotation text from scanned sentences and prefer contextual readings
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/tests/content.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
  apps/vela/src/services/vocabularyService.ts
Due: web, ext

fix(ext): improve offline sync error handling and prevent duplicate saves
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/entrypoints/content.ts
  apps/vela-ext/tests/background.test.ts
  apps/vela-ext/tests/content.test.ts
Due: ext

test: auto-unmount Vue test wrappers
  apps/vela/src/test/setup.ts
Due: none

fix: improve dictionary lookups and sentence saving
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/dictionary.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-api/test/routes/dictionary.test.ts
  apps/vela-api/test/routes/my-dictionaries.test.ts
  apps/vela-ext/entrypoints/background.ts
  apps/vela-ext/tests/background.test.ts
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
Due: web, api, ext

fix: use deterministic prefix for idempotencyKey and remove user-scoped fields from vocabulary
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/src/routes/vocabulary.ts
  apps/vela-api/test/dynamodb.test.ts
  apps/vela-api/test/routes/vocabulary.test.ts
Due: api

fix: handle legacy vocabulary rows seeded before normalized migration and fix savedSentences idempotent replay
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/test/dynamodb.test.ts
Due: api

fix(api): exclude post-migration homographs from legacy fallback in vocabulary create
  apps/vela-api/src/dynamodb.ts
  apps/vela-api/test/dynamodb.test.ts
Due: api

refactor(vela): address code quality issues from Task 4 review
  apps/vela/src/pages/dictionary/MyDictionariesPage.vue
  apps/vela/src/utils/japanese.ts
Due: web

feat(vela-api): add GET /dictionary/lookup Jisho proxy endpoint
  apps/vela-api/src/index.ts
  apps/vela-api/src/routes/dictionary.ts
  apps/vela-api/test/routes/dictionary.test.ts
Due: api

Path conditions:
  web: any of: apps/vela/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/e2e/**
  api: any of: apps/vela-api/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/e2e/**
  ext: any of: apps/vela-ext/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/e2e/**
